---
title: A tiny little ocean
description: A shader art I made in 2021.
tags: shaders
---
<shader-art autoplay dpr="1" aria-hidden="true" role="img" aria-label="{{ title }}">
  {% set vertexShader %}
    {% include 'shaders/ocean.vs' %}
  {% endset %}
  {% set fragmentShader %}
    {% include 'shaders/ocean.fs' %}
  {% endset %}
  <script type="vert">
    {{ vertexShader | glslminify | safe }}
  </script>
  <script type="frag">
    {{ fragmentShader | glslminify | safe }}
  </script>
</shader-art>
