.article {
  background: var(--main-bg);
  padding: $size--400;
  border-radius: $size--400;
  margin-bottom: $size--500;

  &--intro {
    background: transparent;
  }

  img {
    width: 100%;
    object-fit: contain;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .article {
    padding: $size--600;
  }
}
