.footer {
  background: var(--footer-bg);
  color: var(--footer-fg);
  padding: 1rem;
  margin-top: 6rem;
  p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--footer-fg);
    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: $size--100 $size--600;
    display: flex;
    ul {
      flex: 1;
      max-width: 200px;
      font-size: 1.1rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        margin: 1rem 0;
        
      }
    }
  }
}
