.footer {
  background: var(--footer-bg);
  color: var(--footer-fg);
  padding: var(--space-m);
}


.footer p {
  text-align: center;
}

.footer-top {
  margin-block-start: var(--space-xl);
  fill: var(--bg);
  background: var(--footer-bg);
  width: 100vw;
  height: 75px;
}
