.header {
  background: var(--header-bg);
  color: var(--header-fg);
  padding: var(--space-xs) var(--space-m);
}

.header > .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.header .logo {
  flex: 1 0 auto;
}

.header .logo svg {
  display: block;
  width: var(--step-4);
}

.header-bottom {
  background: var(--intro-bg);
  fill: var(--header-bg);;
  width: 100vw;
  height: 75px;
}
