<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description }}" />
    <meta name="x-base" content="{{ site.url }}/" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>{{ site.name }} – {{ title }}</title>
    <style>
      {% include 'css/index.css' %}
    </style>
  </head>
  <body>
    {% include 'partials/skip-link.html' %}
    {% include 'partials/navigation.html' %}
    <shader-canvas class="shader-canvas | full-fixed" dpr="1" aria-hidden="true">
      {% set vertexShader %}
        {% include 'shaders/background.vs' %}
      {% endset %}
      {% set fragmentShader %}
        {% include 'shaders/background.fs' %}
      {% endset %}
      <script type="vert">
        {{ vertexShader | glslminify | safe }}
      </script>
      <script type="frag">
        {{ fragmentShader | glslminify | safe }}
      </script>
    </shader-canvas>
    <main id="main-content" tabindex="-1">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include 'partials/footer.html' %}
    <script src="{{ site.url }}/js/vendor/prism.js"></script>
    <script type="module" src="{{ site.url }}/js/main.esm.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>