{% extends "layouts/base.njk" %}

{% block header %}
  {% include 'partials/skip-link.njk' %}
  {% include 'partials/navigation.njk' %}
{% endblock %}

{% block content %}
<article class="article | wrapper flow">{{ content | safe }}</article>
{% endblock %}

{% block footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}