{% extends "layouts/base.njk" %}

{% block header %}
  {% include 'partials/skip-link.njk' %}
  {% include 'partials/navigation.njk' %}
{% endblock %}

{% block content %}
  <div class="flow">
    {{ content | safe }}
  </div>
{% endblock %}

{% block footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}
