{% extends "layouts/base.njk" %}

{% block content %}
<shader-art class="full-fixed" autoplay dpr="1" aria-hidden="true" role="img" aria-label="{{ title }}">
  {% set vertexShader %}
    {% include 'shaders/ocean.vs' %}
  {% endset %}
  {% set fragmentShader %}
    {% include 'shaders/ocean.fs' %}
  {% endset %}
  <script type="vert">
    {{ vertexShader | glslminify | safe }}
  </script>
  <script type="frag">
    {{ fragmentShader | glslminify | safe }}
  </script>
</shader-art>
<article class="shader-meta">
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
</article>
{% endblock %}




{% block scripts %}
<script async src="{{ site.url }}/shader-art.js"></script>
{% endblock %}


