:root {
  --bg: #121212;
  --fg: #fff;

  --headline-fg: #fae;

  --link-fg: #7df;
  --link-hover-bg: #202050;
  --link-hover-fg: #aef;

  --header-bg: #435;
  --header-fg: #fff;

  --footer-bg: #333;
  --footer-fg: #fff;

  --code-fg: #9f7;
  --code-bg: #000;

  --outline-color: #336;

  --button-bg: #993366;
  --button-fg: #ffffff;

  --button-hover-bg: #aa4477;
  --button-hover-fg: #ffffff;

  --button-active-bg: #444455;
  --button-active-fg: #ffffff;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #fefefe;
    --fg: #121212;

    --headline-fg: #c06;

    --link-fg: #13c;
    --link-hover-bg: #f0f0ff;
    --link-hover-fg: #24d;

    --header-bg: #fce;
    --header-fg: #724;

    --footer-bg: #efefef;
    --footer-fg: #333;

    --code-fg: #070;
    --code-bg: #f0f0f0;

    --outline-color: #336;

    --button-bg: #993366;
    --button-fg: #ffffff;

    --button-hover-bg: #aa4477;
    --button-hover-fg: #ffffff;

    --button-active-bg: #444455;
    --button-active-fg: #ffffff;
  }
}
