:root {

  --plum-1: #325;
  --plum-2: #536;
  --plum-3: #96a;
  --plum-4: #cae;
  --plum-5: #fee;

  --blue-1: #235;
  --blue-2: #57f;
  --blue-3: #7bf;
  --blue-4: #adf;
  --blue-5: #def;

  --red-1: #511;
  --red-2: #722;
  --red-3: #a33;
  --red-4: #f77;
  --red-5: #fcc;

  --grey-1: #171717;
  --grey-2: #333;
  --grey-3: #555;
  --grey-4: #777;
  --grey-5: #ccc;

  --bg: var(--grey-1);
  --fg: #fff;

  --bg-secondary: #423;
  --fg-secondary: #fee;

  --headline-fg: #fae;

  --link-fg: #7df;
  --link-hover-bg: #202050;
  --link-hover-fg: #aef;

  --header-bg: #435;
  --header-fg: #fff;

  --footer-bg: #333;
  --footer-fg: #fff;

  --code-fg: #9f7;
  --code-bg: #000;

  --outline-color: #336;

  --button-bg: #993366;
  --button-fg: #ffffff;

  --button-hover-bg: #aa4477;
  --button-hover-fg: #ffffff;

  --button-active-bg: #444455;
  --button-active-fg: #ffffff;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #fefefe;
    --fg: #121212;

    --headline-fg: #c06;

    --link-fg: #13c;
    --link-hover-bg: #f0f0ff;
    --link-hover-fg: #24d;

    --header-bg: #fce;
    --header-fg: #724;

    --footer-bg: #efefef;
    --footer-fg: #333;

    --code-fg: #070;
    --code-bg: #f0f0f0;

    --outline-color: #336;

    --button-bg: #993366;
    --button-fg: #ffffff;

    --button-hover-bg: #aa4477;
    --button-hover-fg: #ffffff;

    --button-active-bg: #444455;
    --button-active-fg: #ffffff;
  }
}
