---
title: Blog
description: This pages is a source of information for WebGL
layout: layouts/home.njk
author: Lea Rosema
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>

{% for post in collections.all | reverse %}
  <article class="article | wrapper flow">
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p>{{ post.data.description }}</p>
  </article>
{% endfor %}
