---
title: Home
description: This pages is a source of information for WebGL
layout: layouts/home.njk
author: Lea Rosema
---

<h1>Welcome to Lea codes</h1>
  
  <p>Hi, I'm <a href="https://twitter.com/lea_rosema/" target="_blank" rel="noopener noreferrer">Lea</a>. I'm a frontend developer and digital artist based in Hamburg.</p>
  <p>I love to build shaders like these:</p>
  {% include "partials/fishes-shader.njk" %}