---
seed: 1342793
width: 1200
height: 628
background: '#222'
color: '#fee'
waveSteps: 10
amplitude: 35
waveHeight: 0.33
colors: ['#585858', '#CF7280', '#EEDF77', '#E9E9E9', '#7AC1E0', '#3AAF7D']
pagination:
  data: collections.posts
  size: 1
  alias: preview
permalink: '/assets/images/social-preview/{{ preview.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---
<svg width="1200" height="628" viewBox="0 0 1200 628" xmlns="http://www.w3.org/2000/svg">

  {% set titleInLines = preview.data.title | splitLines(16) %}
  {% set numberOfLines = titleInLines.length %}
  {% if numberOfLines == 1 %}
  {% set verticalStartingPoint = 340 %}
  {% elseif numberOfLines == 2 %}
  {% set verticalStartingPoint = 290 %}
  {% elseif numberOfLines == 3 %}
  {% set verticalStartingPoint = 250 %}
  {% elseif numberOfLines == 4 %}
  {% set verticalStartingPoint = 210 %}
  {% elseif numberOfLines == 5 %}
  {% set verticalStartingPoint = 170 %}
  {% endif %}


  <rect stroke="none" fill="{{ background }}" width="{{ width }}" height="{{ height }}" />

  {{ prng.init(seed) }}

  {%- for i in range(0, colors.length) -%}
    {%- set y0 = i * (height * waveHeight) / colors.length + (1 - waveHeight) * height -%}
    {%- set step = width/waveSteps%}
    <path d="{{prng.curve(waveSteps + 1, step, y0, amplitude)}}V{{height}}H0Z" fill="{{ colors[i] }}" stroke="{{ background }}"/>
  {%- endfor -%}



  <!-- date -->
  <text
    font-family="sans-serif"
    font-size="26"
    font-weight="700"
    style="filter: drop-shadow(2px 2px 0px {{ background }})"
    fill="{{ color }}"
    letter-spacing="-1"
  >
    <tspan x="160" y="{{ verticalStartingPoint - 120 }}">
      {{ preview.date | formatDate(meta.dateFormat) }}
    </tspan>
  </text>

  <!-- title -->
  <text
    id="text"
    font-family="sans-serif"
    font-size="80"
    font-weight="900"
    fill="{{ color }}"
    style="filter: drop-shadow(3px 3px 0px {{ background }})"
    letter-spacing="-3"
  >
    {% for line in titleInLines %}
    <tspan x="160" y="{{ verticalStartingPoint - 20 + loop.index0 * 80 }}">
      {{ line }}
    </tspan>
    {% endfor %}
  </text>

  <!-- sitename -->
  <text
    font-family="sans-serif"
    font-size="26"
    font-weight="700"
    fill="{{ color }}"
    style="filter: drop-shadow(2px 2px 0px {{ background }})"
    letter-spacing="-0.5"
  >
    <tspan x="160" y="600">{{ meta.siteName }} · {{ meta.url | replace("https://", "") | replace("http://", "") }}</tspan>
  </text>


</svg>
