
<svg class="footer-top" viewBox="0 0 1200 150" aria-hidden="true" preserveAspectRatio="none">
  {{ prng.init(42) }}
  <path class="s" d="{{ prng.curve(7, 150, 80, 25) }} V150H0Z"/>
  <path class="s"  d="{{ prng.curve(7, 150, 65, 25) }} V150H0Z" fill-opacity="0.6"/>
  <path class="s"  d="{{ prng.curve(7, 150, 50, 25) }} V150H0Z" fill-opacity="0.2"/>

  <path class="md" d="{{ prng.curve(11, 100, 80, 25) }} V150H0Z"/>
  <path class="md"  d="{{ prng.curve(11, 100, 65, 25) }} V150H0Z" fill-opacity="0.6"/>
  <path class="md"  d="{{ prng.curve(11, 100, 50, 25) }} V150H0Z" fill-opacity="0.2"/>
</svg>

<footer class="footer">
  <p>Made with love by Lea Rosema</p>
</footer>