
<svg class="footer-top" viewBox="0 0 1200 100" aria-hidden="true" preserveAspectRatio="none">
  {{ prng.init(42) }}
  <path class="s" d="{{ prng.curve(7, 150, 60, 25) }} V100H0Z"/>
  <path class="s"  d="{{ prng.curve(7, 150, 45, 25) }} V100H0Z" fill-opacity="0.6"/>
  <path class="s"  d="{{ prng.curve(7, 150, 30, 25) }} V100H0Z" fill-opacity="0.2"/>

  <path class="md" d="{{ prng.curve(11, 100, 60, 25) }} V100H0Z"/>
  <path class="md"  d="{{ prng.curve(11, 100, 45, 25) }} V100H0Z" fill-opacity="0.6"/>
  <path class="md"  d="{{ prng.curve(11, 100, 30, 25) }} V100H0Z" fill-opacity="0.2"/>
</svg>

<footer class="footer">
  <p>Made with love by Lea Rosema</p>
</footer>