<footer class="footer">
  <p>made with <span aria-label="love">💖</a> by <a href="https://learosema.github.io/">Lea Rosema</a></p>
  <nav aria-label="Footer navigation">
    <ul>
      {% for item in footer.items1 %}
        <li>
          <a href="{{ site.url }}{{ item.href }}" {{ helpers.getLinkActiveState(item.href, page.url) | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul>
      {% for item in footer.items2 %}
        <li>
          <a href="{{ site.url }}{{ item.href }}" {{ helpers.getLinkActiveState(item.href, page.url) | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</footer>