<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative">

    {% set activePage = page.url | url %}
    <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      {% include "svg/logo.svg" %}
      {{ meta.siteName }}
    </a>

    {% include "partials/menu.njk" %}
</header>