<header class="header">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>
  <div class="wrapper">
    {% set activePage = page.url | url %}
    <a href="/" class="logo | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      {% include "svg/the-fat-l.svg" %}
      <span class="visually-hidden">{{ meta.siteName }}</span>
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>

